@charset "UTF-8";

* {
	margin: 0;
	pause: 0;
}

.float-r {
	float: right;
}

.float-l {
	float: left;
}

h1 {
	padding: 20px 10px;
	background-color: white;
}

h2:not(.fc-toolbar-title) {
	padding: 20px 10px;
	border-bottom: 1px solid;
}

button {
	cursor: pointer;
	border: none;
	background-color: #5A2ECE;
	color: white;
	border-radius: 5px;
}

table {
	text-align: left;
	border-collapse: separate;
	border-spacing: 0 10px;
	width: 100%;
	table-layout: fixed;
	padding: 0 15px;
}

table>tbody>tr>td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

input[type="submit"], input[type="reset"], input[type="button"] {
	border: none;
	width: 50px;
	border-radius: 5px;
	cursor: pointer;
}

input, select, textarea {
	width: 150px;
	height: 30px;
	box-sizing: border-box;
	margin: 10px 0;
}

textarea {
	width: 100%;
	height: 6.25em;
	resize: none;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.tc-main {
	width: 1080px;
	height: 100%;
	margin: 0 auto;
	position: sticky;
}

.tc-haeder {
	text-align: center;
	box-sizing: border-box;
	position: fixed;
	min-height: 1000px;
	width: 230px;
}

.tc-logo {
	text-align: center;
	padding: 2px;
}

.tc-logoLink {
	color: #5A2ECE;
}

.tc-profile {
	text-align: center;
	padding: 30px;
}

.tc-profileLink {
	display: inline-block;
	border-radius: 80px;
}

.tc-profileImg {
	width: 150px;
	height: 150px;
	border-radius: 100px;
	cursor: pointer;
}

.tc-profileEditLink {
	display: inline-block;
	position: relative;
	left: 50px;
	top: -40px;
}

.tc-profileEditLink:hover {
	cursor: pointer;
}

.tc-container {
	position: relative;
	z-index: -50;
	box-sizing: border-box;
	margin-left: 230px;
	min-height: 1000px;
	background-color: whitesmoke;
}

.tc-nav {
	text-align: -webkit-center;
}

.tc-nav-item {
	list-style: none;
	font-size: 16px;
	padding: 0;
}

.tc-nav-item>li {
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 10px 0;
	line-height: 30px;
	margin: 0 40px;
}

.tc-nav-item>li:not(:first-child)::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #5A2ECE;
	transition: width .3s;
}

.tc-nav-item>li:not(:first-child):hover::after {
	width: 100%;
}

.tc-nav-item>li:first-child {
	margin-bottom: 100px;
}

.tc-nav-item>li:first-child>a {
	color: white;
	background-color: #5A2ECE;
	border-radius: 10px;
}

.tc-nav-list>a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.tc-nav-list:target {
	color: #5A2ECE;
}

.tc-maintop {
	display: flex;
	flex-basis: (n)%;
	font-size: 20px;
	padding: 5px;
}

.tc-mainTitle {
	flex-basis: 60%;
	line-height: 35px;
	padding: 10px 20px;
	font-weight: bold;
}

.tc-mainSession {
	flex-basis: 20%;
	padding: 10px 0;
	line-height: 35px;
	font-size: 15px;
	color: #5A2ECE;
	font-weight: bold;
}

.tc-mainTimer {
	flex-basis: 20%;
	padding: 10px 0;
	line-height: 35px;
	font-size: 15px;
}

.tc-mainHome {
	background-color: #5A2ECE;
	padding: 5px 10px;
}

.tc-mainHome>a {
	color: white;
}

.tc-dashboard {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
}

.tc-dashboard-list {
	width: 33%;
	text-align: center;
	padding: 70px 0;
	border: 1px solid whitesmoke;
}

.tc-announcement {
	background-color: white;
	margin: 20px;
	height: 535px;
}

.tc-announcement-title {
	padding: 15px 20px;
}

.tc-announcement-table {
	width: 100%;
	margin: 20px auto;
	border-collapse: separate;
	border-spacing: 20px;
	font-size: 12px;
	margin: 20px auto;
}

.tc-announcement-table tbody tr td {
	padding: 3px;
}

.tc-announcement-table tbody tr td:first-child {
	text-align: center;
	background-color: #5A2ECE;
	color: white;
}

.material-symbols-outlined {
	background-color: gainsboro;
	border-radius: 30px;
	width: 40px;
	height: 40px;
	line-height: 40px !important;
	position: relative;
}

.tc-logout {
	padding: 30px;
}

.tc-logout>a {
	border-bottom: 1px solid;
}

.tc-classList {
	margin: 20px;
}

.tc-classList>h2 {
	margin: 20px 0;
}

.tc-classFilter {
	margin: 20px 0;
	padding: 20px;
	background-color: white;
}

.tc-classFilter>form>input[type="date"] {
	margin-right: 20px;
}

.tc-classBoard {
	margin: 20px 0;
	background-color: white;
}

.tc-classBoardList {
	width: 100%;
}

.tc-classBoardList th {
	font-size: 15px;
}

.dataNon {
	text-align: center;
	color: graytext;
}

.tc-FilterBtn {
	text-align: center;
	margin: 15px 0;
}

.tc-FilterBtn>input:first-child {
	border: none;
	background-color: #9E9E9E;
	color: white;
}

.tc-FilterBtn>input:last-child {
	border: none;
	color: white;
	background-color: #5A2ECE;
}

.tc-openStatus {
	float: left;
	width: 150px;
	margin-right: 20px;
}

.tc-keywordInput {
	width: 50%;
}

.tc-paging {
	text-align: center;
	padding-bottom: 20px;
}

.filterBtn {
	width: 70px;
	height: 30px;
}

.filterBtn:first-of-type {
	margin-left: 20px;
}

.tc-classSchedule {
	height: 450px;
	background-color: white;
}

.tc-classScheduleUser {
	height: 450px;
	background-color: white;
}

.tc-classTable>tbody>tr:hover {
	background-color: gainsboro;
	cursor: pointer;
}

.tc-paging {
	margin: 10px 0;
}

.fc .fc-view-harness {
	height: 750px !important;
}

.tc-CalenderList>h2 {
	padding: 20px 10px;
	background-color: white;
}

.fc-header-toolbar {
	margin: 5px 10px;
}

.fc-header-toolbar>.fc-toolbar-chunk:first-child {
	width: 350px;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
	min-height: 4em !important;
}

.fc-toolbar-title {
	float: left;
}

.tc-sales {
	width: 100%;
	height: 150px;
}

.tc-sales-tot {
	width: 200px;
	padding: 10px 30px;
	background-color: lightgray;
	border-radius: 10px;
	font-size: 20px;
}

.tc-sales>h3 {
	margin: 10px;
}

.tc-sales-tot>div {
	margin: 9px;
}

.tc-sales-tot>div:last-of-type {
	text-align: right;
}

.tc-sales-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 150px;
	background-color: lightgray;
	border-radius: 5px;
	margin: 15px 0;
}

.tc-sales-list>div:first-of-type {
	width: 40%;
	margin: 40px 0;
	box-sizing: border-box;
	padding: 0 20px;
}

.tc-sales-list>div>span:first-of-type {
	background-color: #5A2ECE;
	color: white;
	padding: 5px 20px;
	border-radius: 3px;
	margin-right: 20px;
}

.tc-sales-list>div:nth-of-type(2), .tc-sales-list>div:nth-of-type(3) {
	width: 30%;
	text-align: center;
}

.tc-sales-list>div:nth-of-type(2)>div, .tc-sales-list>div:nth-of-type(3)>div
	{
	padding: 15px;
}

.tc-sales-list>div:last-of-type {
	width: 100%;
	margin: 10px 0;
	padding: 0 20px;
}

.profileUpload {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	overflow: auto;
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	max-width: 650px;
	height: 40%;
	display: flex;
	border-radius: 10px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.profileUpload-profile {
	text-align: left;
}

.profileUpload-profile button {
	display: block;
	float: right;
	width: 60px;
	height: 30px;
	margin: 10px;
}

.profileUpload-image {
	width: 50%;
	margin-top: 100px;
}

.profileUpload-image>i {
	left: -50px;
}

.profileUpload-profile {
	width: 50%;
	padding: 20px;
	margin-top: 30px;
}

.profileUpload-profile div {
	margin: 10px 0;
}

.profileUpload-profile input {
	width: 100%;
}

.fc-scrollgrid {
	position: absolute;
	z-index: -1;
}

.tc-dashboard-list>div:first-child {
	color: graytext;
	font-size: 12px;
	margin-bottom: 10px;
}

#calendar {
	background-color: white;
	position: sticky;
}

.refresh {
	width: 2em;
	font-size: 14px !important;
	background-color: #9E9E9E;
	vertical-align: middle;
	line-height: 25px !important;
	height: 30px;
}

.refreshBtn {
	background-color: #9E9E9E;
	padding: 3px 15px 0px 5px;
}

.search {
	width: 2em;
	font-size: 14px !important;
	background-color: #5A2ECE;
	vertical-align: middle;
	line-height: 25px !important;
	height: 30px;
}

.searchBtn {
	padding: 3px 15px 0px 5px;
}

#modal1 {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
}

.modal1-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
    max-width: 700px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal1-table th {
	width: 20%;
}

.tcAnnouncement {
	color: red;
	font-weight: bold;
	padding: 10px;
}

.tc-title {
	border-bottom: 1px solid red;
	padding-bottom: 10px;
	margin: 10px 0;
}

.modal1-table {
	border-collapse: collapse;
	height: 150px;
}

.modal1-table th {
	width: 100px;
	background-color: lightgray;
}
.modal1-table tr:last-child th {
	height: 200px;
}
.modal1-table th, .modal1-table td {
	padding-left: 20px;
}
.numBox{
border: 1px solid;
width: 30px;
height: 30px;
}

.tc-paging a{
text-decoration: none;
}
.tc-paging a:hover{
text-decoration-line: none;

}

.tc-paging{
display: flex;
align-items: center;
justify-content: center;}

.numBox{
margin-right: 10px;
display:flex;
align-items: center;
justify-content: center;
}

.pagenp{
color:#CFCFCF;
margin-top: 3px;

}
.pagenp:hover{
color:#8556FF;

}

.pagep{
margin-right: 8px;
}
.close-modal1 {
	font-size: 20px;
    cursor: pointer;
}
.openModal {
	cursor: pointer;
}
.openModal:hover {
	
}