@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

h1, p, ul, li {
	color: white;
	list-style: none;
}

a {
	text-decoration: none;
}

#wrap {
	width: 1280px;
	position:fixed;
}

#container {
	background-color: #7C4AFF;
	width: 300px;
	height: 1000px;
	margin-left:-5px;
}

#content {
	width: 90%;
	height: 80%;
	margin: 0 auto;
	padding-left: 40px;
	padding-top: 70px;
}

h1 {
	
}

p {
	font-size: 14px;
	margin-top: 10px;
}

.logo-box {
	width: 200px;
	text-align: center;
	border-bottom: 1px solid rgb(168, 168, 168);
	padding-bottom: 30px;
}

.list-box {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

.f-list {
	margin-bottom: 50px;
}

.s-ul {
	font-weight: 400;
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 5px;
}

.s-li {
	width: 250px;
	height: 30px;
	font-weight: 400;
	font-size: 16px;
	margin-left: -50px;
	margin-top: 7px;
	padding-left: 60px;
	padding-top: 7px;
	transition: 0.1s linear;
}

.s-li:hover {
	background-color: white;
	color: #7C4AFF;
	font-weight: bold;
}