@charset "UTF-8";

#adm-imquiry {
	width: 100vw;
	height: 100vw;
	background-color: rgb(240, 240, 240);
}

#adm-imquiry .s-container {
	/* width: calc(1280-245)px;  */
	width: 1035px;
	padding: 20px;
	margin: 0 auto;
	margin-left: 245px;
}

#adm-imquiry h2 {
	font-size: 24px;
	color: #7C4AFF;
	margin-top: 100px;
	margin-bottom: 50px;
	margin-left: 70px;
}

#adm-imquiry .table {
	width: 950px;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	border-collapse: separate;
	border-spacing: 0px 20px;
}

#adm-imquiry tr {
	background-color: rgb(255, 255, 255);
}

#adm-imquiry th {
	height: 50px;
	color: rgb(68, 59, 59);
}

#adm-imquiry .th-color {
	background-color: rgb(223, 223, 223);
}

#adm-imquiry td {
	height: 60px;
}

#adm-imquiry td:first-child {
	border-radius: 7px 0px 0px 7px;
}

#adm-imquiry td:last-child {
	border-radius: 0px 7px 7px 0px;
}

#adm-imquiry th:first-child {
	border-radius: 7px 0px 0px 7px;
}

#adm-imquiry th:last-child {
	border-radius: 0px 7px 7px 0px;
}

#adm-imquiry .td1 {
	width: 100px;
}

#adm-imquiry .td2 {
	width: 100px;
}

#adm-imquiry .td3 {
	width: 180px;
}

#adm-imquiry .td4 {
	width: 450px;
}

#adm-imquiry .td5 {
	width: 150px;
}

#adm-imquiry .td6 {
	width: 150px;
}

#adm-imquiry .td7 {
	width: 100px;
}

#adm-imquiry .ellipsis {
	text-overflow: ellipsis;
	width: 90%;
	margin: 0 auto;
	color: black;
	overflow: hidden;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	height: 1.1em;
}

#adm-imquiry .waiting {
	background-color: #633bc7;
	border: none;
	padding: 10px;
	border-radius: 5px;
	color: rgb(255, 255, 255);
	font-size: 11px;
	width: 30px;
	margin: 0 auto;
}

#adm-imquiry .waiting.clear {
	background-color: #dcd8e7;
}

#adm-imquiry a:hover {
	text-decoration: underline;
}

#adm-imquiry a:active {
	color: black;
}