@charset "UTF-8";
/* modal */

#notice-detail .w-modal {
	width: 100vw;
	height: 100vw;
	background-color: rgba(0, 0, 0, 0.6);
	margin: 0 auto;  
	position: fixed;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	z-index: 10;
	top: 0;
}
#notice-detail .w-modal.w-hide {
	opacity: 1;
	visibility: visible;
}
#notice-detail .w-wrap { 
	padding: 25px; 
	width: 290px;
	height: 80px;
	background-color: rgb(255, 255, 255);
	position: fixed;
	margin: auto;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
} 
  
#notice-detail .w-p {
    margin-top: 10px;
	font-size: 13px;
	margin-bottom: 23px;
    color: black;
    text-align: center;
} 

#notice-detail .w-btn-box {
	display: flex;
	justify-content: space-between; 
    
}
 
#notice-detail .w-submit-btn {
	box-sizing: border-box;
	width: 180px;
	height: 30px;
	background: #7C4AFF;
	border-radius: 7px;
	color: #fff; 
	border-style: none;
	font-size: 12px;
	cursor: pointer;
    margin-right: 10px;
}

#notice-detail .w-cancel-btn {
	box-sizing: border-box;
    font-size: 12px;
	width: 180px;
	height: 30px;
	background: #ffffff;
	border-radius: 7px;
	color: #7C4AFF; 
	border-style: none;
	border: #7C4AFF 1px solid;
	cursor: pointer;
    margin-left: 10px;
}



#notice-detail .w-submit-btn:hover {
	background-color: #7141e9;
}

#notice-detail .w-cancel-btn:hover {
	background-color: #f3f3f3;
}

/* main contents */
 #notice-detail {
            width: 100vw;
            height: 100vw;
            background-color: rgb(240, 240, 240);
        }

       #notice-detail .container {
            width: 1035px;
            padding: 20px;
            margin: 0 auto;
            margin-left: 245px;
        }

       #notice-detail h2 {
            font-size: 24px;
            color: #7C4AFF;
            margin-top: 100px;
            margin-bottom: 50px;
            margin-left: 70px;
        }


       #notice-detail .txt-ip:focus,
        .txt-ip:active {
            outline: none;
        }

       #notice-detail .txt-ip {
            width: 92%;
            height: 250px;
            min-height: 150px;
            background-color: transparent;
            border: none;
            font-size: 13px;
           

        }

       #notice-detail .btn-par {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 30px;

        }

       #notice-detail .submit-btn {
            margin-left: 10px;
            margin-right: 10px;
            width: 130px;
            height: 45px;
            border: none;
            border-radius: 5px;
        }

       #notice-detail .btn1 {
            color: #7C4AFF;
            border: 1px solid #7C4AFF;
            background-color: white;
        }

       #notice-detail .btn1:hover {
            color: #7C4AFF;
            border: 1px solid #7C4AFF;
            background-color: rgb(250, 250, 250);
        }

       #notice-detail .btn2 {
            color: white;
            background-color: #7C4AFF;
        }

       #notice-detail .btn2:hover {
            color: white;
            background-color: #6c32ff;
        }


       #notice-detail .page {
            width: 900px;
            background-color: rgb(255, 255, 255);
            padding: 10px;
            margin-left: 60px;
            padding-top: 45px;
        }

       #notice-detail .table {
            margin: 0 auto;
            text-align: center;
            border-collapse: separate;
            border-spacing: 0px 20px;
            font-size: 12px;
        }

       #notice-detail tr {
            width: 900px;
            height: 40px;

        }

       #notice-detail td {
            border: 1px solid rgb(233, 233, 233);
        }

       #notice-detail .bold {
            font-weight: 200;
        }

       #notice-detail .td1 {
            width: 100px;
            background-color: rgb(233, 233, 233);
        }

       #notice-detail .td2 {
            width: 600px;
            font-size: 13px;
            color: rgb(104, 104, 104);
            background-color: white;
        }

       #notice-detail .t22 {
            text-align: left;
            padding-left: 20px; 
        }
 
 
       #notice-detail td:first-child {
            border-radius: 7px 0px 0px 7px;
        }

       #notice-detail td:last-child {
            border-radius: 0px 7px 7px 0px;
        }

       #notice-detail .file-id {
            width: 100%;
            border-radius: 0px;
        } 
        
       #notice-detail .radios { 
        color: rgb(104, 104, 104);  
        width: 250px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: left;
        } 
           
        #notice-detail .file-down{ 
            display: flex;
            padding-left: 20px;
            color: rgb(7, 23, 165);
        }
        #notice-detail .txt-content{
            height: 250px;
            min-height: 250px; 
            padding: 20px; 
            display: flex; 
        }