@charset "UTF-8";

.atag {
	text-decoration: none;
	color: rgba(160, 160, 160, 1);
	margin-right: 25px;
	font-size: 22px;
}

#noticeWrapper {
	width:1280px; margin:0 auto;
	padding-top: 60px;
}

table {
    width: 100%;
    border-top: 1px thin #444444;
    border-collapse: collapse;
  }
table th, td {
    border-bottom-style: solid;
    border-bottom-color: #F4F4F4;
    text-align: center;
  }
table th {
	height: 33px;
	font-size: 20px;
	padding: 10px;
}  

table td { 
	height: 28px;
	padding: 10px;
	font-size: 17px;
}
  
 th {
 	background: #F4F4F4;
 } 
.smallth {
	width: 10%; 
}
#largeth {
	width: 60%; 
}

.highlighted {
      color: blue;
    }
    
    
.alist:link {
  color : black;
  text-decoration: none;
}
.alist:visited {
  color : purple;
  text-decoration: none;
}
.alist:hover {
  color : red;
  text-decoration: underline;
}
.alist:active {
  color : green;
  text-decoration: none;
}