@font-face {
	font-family: 'Cafe24 Ohsquare';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf')
		format('truetype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 700;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf')
		format('truetype')
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 300;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf')
		format('truetype');
}

.nanumbarungothic * {
	font-family: 'NanumBarunGothic', sans-serif;
}

.contentWrapper {
	margin: 0 auto;
	width: 1280px;
}

hr {
	position: absolute;
	width: 100%;
	top: 27px;
	background: #E1E1E1;
	left: 0px;
}

h1 {
	width: 130px;
	height: 42px;
	left: 80px;
	top: 54px;
	font-family: 'Cafe24 Ohsquare';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #5A2ECE;
}

.topButtonColor {
	width: 51px;
	height: 16px;
	top: 7px;
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #FF99B8;
}

.topButton {
	width: 66px;
	height: 16px;
	top: 7px;
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #717171;
}

.topButtons {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

.tb {
	margin-right: 15px;
}

.vertical {
	width: 30px;
	height: 0px;
	left: 1110px;
	top: 30px;
	border: 1px solid #E1E1E1;
	transform: rotate(-90deg);
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}

.material-symbols-outlined {
	font-size: 30px;
}

.vertical-align {
	display: flex;
	list-style: none;
}

.login {
	margin-left: 10px;
}

.vertical-align p {
	margin-top: -1px;
}

.vertical-align li {
	margin-right: 15px;
}

.logo-menu {
	display: flex;
	justify-content: space-between;
}

.search {
	box-sizing: border-box;
	width: 322px;
	height: 33px;
	margin-top:25px;
	background: #FFFFFF;
	border: 1px solid #CFCFCF;
	border-radius: 10px;
}
.search-icon{
	font-size:23px;
}