@font-face {
	font-family: 'Cafe24 Ohsquare';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf')
		format('truetype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 700;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf')
		format('truetype')
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 300;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf')
		format('truetype');
}

.findIdWrapper {
	height: 569px;
}

.findIdContentWrapper {
	margin: 0 auto;
	width: 1280px;
}

.findIdPageTitleWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .loginWrapper {
	width: 100%;
	height: 125px;
	
	left: 0;
	right: 0;
}
 */
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'NanumBarunGothic';
}

.findIdBtns {
	width: 420px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	align-items: center;
	flex-direction: column;
	align-items: center;
}

.findIdBtn {
	box-sizing: border-box;
	width: 300px;
	height: 43px;
	background: #7C4AFF;
	border-radius: 7px;
	color: #fff;
	font-weight: bold;
	border-style: none;
	font-size: 14px;
	/* margin-left: 10px; */
}

//
ul {
	list-style: none;
}

button {
	cursor: pointer;
}

.findIdContainer {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	list-style: none;
	align-items: center;

	/* border-bottom: 1px solid rgb(214, 214, 214); */
}

.findIdPEmailBox {
	padding-left: 10px;
	box-sizing: border-box;
	width: 300px;
	height: 43px;
	border-radius: 7px;
	margin-bottom: 10px;
	border: solid 1px rgba(124, 124, 124, 0.5);
}

.AuthenticationNumberWrapper {
	display: flex;
	margin-left: 115px;
}

.AuthenticationNumberBox {
	/* 	display: block; */
	padding-left: 10px;
	box-sizing: border-box;
	width: 300px;
	height: 43px;
	border-radius: 7px;
	margin-bottom: 20px;
	border: solid 1px rgba(124, 124, 124, 0.5);
}

.findMenu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.findMenu li {
	font-size: 13px;
	list-style: none;
	cursor: pointer;
	color: #A7A7A7;
}

.pwFindMenu {
	margin-left: 10px;
}

.findIdPageTitle {
	font-size: 20px;
	margin-top: 80px;
	
}
.findIdBtns input{
	cursor: pointer;
}


.findMenu a{
	color: #8A8A8A;
}

.AuthenticationNumber {
	cursor: pointer;
	margin-left: 10px;
	background-color: rgba(236, 236, 236, 0.5);
	border-style: none;
	width: 100px;
	height: 40px;
	border-radius: 7px;
	cursor: pointer;
}

.AuthenticationNumber {
	height: 35px;
	border: 1px solid #c4c4c4;
}

.AuthenticationNumber:hover {
	background-color: rgba(218, 218, 218, 0.5);
}

.AuthenticationNumber:click {
	background-color: darkblue;
}

.bold {
    font-weight: bold;
    
  }