@font-face {
	font-family: 'Cafe24 Ohsquare';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf')
		format('truetype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 700;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf')
		format('truetype')
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 300;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf')
		format('truetype');
}

.nanumbarungothic * {
	font-family: 'NanumBarunGothic', sans-serif;
}

* {
	padding: 0;
	margin: 0;
}

.logo {
	font-family: 'Cafe24 Ohsquare';
	font-size: 35px;
	padding-top:35px;

}

body {
	font-family: 'NanumBarunGothic';
}

body a:hover {
	text-decoration-line: none;
}
/* *{overflow-x:hidden;} */
.
headerWrapper {
	width: 100%;
	height: 125px;
	background-color: white;
	left: 0;
	right: 0;
}

.contentWrapper {
	margin: 0 auto;
	width: 1280px;
}

.hr1 {
	/* top: 27px; */
	left: 0px;
	border: none;
	height: 1px;
	background-color: #E1E1E1;
}

.hr2 {
	left: 0px;
	border: none;
	background-color: #FFD8E4;
	height: 1px;
/* 	margin-top: 20px; */
}

h1 {
	width: 130px;
	height: 42px;
	left: 80px;
	top: 54px;
	font-family: 'Cafe24 Ohsquare';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #5A2ECE;
/* 	margin-top: 34px; */
}

h1 a {
	text-decoration-line: none;
	color: #5A2ECE;
}

h1 a:hover {
	text-decoration-line: none;
	color: #5A2ECE;
}

.topButtonColor {
	/* width: 51px; */
	height: 16px;
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #FFD8E4;
}

.topButtonColor a:hover {
	color: #FFD8E4;
}

.topButton a:hover {
	color: #E1E1E1;
}

.topButton a {
	color: #717171;
}

.topButton {
/* 	width: 66px; */
	height: 16px;
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #E1E1E1;
}

.topButtons {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

.verticalAlign {
	display: flex;
	list-style: none;
	margin-top: 26px;
}

.login {
	margin-left: 10px;
	color: #7C4AFF;
	
}

.verticalAlign p {
	margin-top: -1px;
	color: #7C4AFF;
}

.verticalAlign li {
	margin-right: 20px;
}

.logoMenu {
	display: flex;
	justify-content: space-between;
	
}

.searchAndIcon {
	display: flex;
}

.search {
	/* 	position: relative; */
	box-sizing: border-box;
	width: 322px;
	height: 33px;
	margin-top: 35px;
	background: #FFFFFF;
	border: 1px solid #CFCFCF;
	border-radius: 10px;
}

.searchIcon {
	/* position: absolute; */
	font-size: 23px;
	width: 17px;
	height: 17px;
	left: 854px;
	margin-top: 38px;
	margin-left: 5px;
	color: #7C4AFF;
}

.searchAndIcon a:hover {
	color: #FF99B8;
}

.searchIcon a {
	text-decoration-line: none;
}

.searchAndIcon input:focus {
	border-color: #FF99B8;
	outline: none;
}

.tB {
	/* padding-right: 8px;
	padding-left: 10px;
	border-right: 1px solid; */
	
}

.tB span{
	margin-right:15px;
}

.tB {
	padding-top: 10px;
	padding-bottom: 10px;
	/* magin-left:10px; */
/* 	height: 30px; */
	/* width: 80px; */
}

/* .topButtonsMargin {
	padding-left: 15px;
} */

.tB a {
	text-decoration-line: none;
}

.tB a:hover {
	text-decoration-line: none;
}

.topButtonColor a {
	color: #FF99B8;
}

.verticalAlign a {
	text-decoration-line: none;
}

.verticalAlign a:hover {
	color: #FF99B8;
}

.logoMenu {
	/* margin-top: -10px; */
	margin-bottom: 30px;
}

/* .topButtons {
	padding-top: 3px;
} */

.nickname {
	padding-right: -50px;
	padding-top: 5px;
	height: 30px;
	width: 50px;
}

.logoutButton button {
	padding-right: -50px;
	padding-top: 5px;
	height: 30px;
	width: 70px;
	background-color: white;
	border: 0.5px solid #9E9E9E;
	border-radius: 5px;
	background-color: #F8F8F8;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-left:10px;
}

.searchFilterWrapper {
	/* 	border-top: 1px solid #FFD8E4; */
	border-bottom: 1px solid #E1E1E1;
	height: 213px;
}

.filterUl1 {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
}

.filterUl1 ul {
	display: flex;
}

.filterUlTitle {
	font-size: 18px;
	font-weight: 600;
	margin-right: 15px;
}

.filterUl1 li {
	list-style: none;
	font-size: 17px;
	margin-right: 15px;
	cursor: pointer;
}

select {
	width: 280px;
	height: 33px;
	border: 0.5px solid #9E9E9E;
	padding: 1px 20px;
	border-radius: 5px;
	font-size: 15px;
	margin-left: 15px;
	font-color: #5F5F5F;
}

.category {
	font-size: 16px;
}

select:focus {
	outline: none;
}

.filterUl2 {
	display: flex;
	margin-top: 15px;
}

.multiSelectButton.selected {
	background-color: #FFABC6;
	color: #FFFFFF;
	border-color: none;
	border: none;
	border-radius: 5px;
}

.filterUl3 button {
	width: 40px;
	height: 27px;
	background-color: #FFFFFF;
	color: #5F5F5F;
	border: 0.5px solid #9E9E9E;
	border-radius: 5px;
}

.filterUl3 {
	display: flex;
}

.filterUl3 p {
	/* 	display: flex; */
	margin-top: 15px;
}

.multiSelectButton {
	margin-left: 15px;
}


.refresh span {
	font-size: 19px;
}

.refresh p {
	font-size: 14px;
}

.refresh {
	display: flex;
	width: 78px;
	height: 27px;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
	color: #5F5F5F;
	border: 0.5px solid #9E9E9E;
	border-radius: 5px;
	margin-right: 5px;
}

.searchFilterButton {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 6px;
}

.searchButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 78px;
	height: 27px;
	color: #FFFFFF;
	border: none;
	background-color: #8456FF;
	border-radius: 5px;
}

.searchFilterButton button:hover {
	cursor: pointer;
}

.filterUl3 button:hover {
	cursor: pointer;
}

.searchFilterWrapper {
	background-color: #FFFFFF;
}

.filterUl1 ul li.selected {
	font-weight: bold;
	color: #FFABC6;
}

.search {
	padding: 6px 10px;
}

button {
	cursor: pointer;
}

/* .menuTable button {
	width: 40px;
	height: 27px;
	background-color: #FFFFFF;
	color: #5F5F5F;
	border: 0.5px solid #9E9E9E;
	border-radius: 5px;
} */
.mainMenuTable {
	margin-top: 23px;
}

.mainMenuTable button {
	background-color: #FFFFFF;
	color: #5F5F5F;
	border: 0.5px solid #9E9E9E;
	border-radius: 5px;
}

/* .mainCategoryButton {
	margin: 5px;
	margin-right:10px;
	width: 230px;
	height: 40px;
}

.mainCategoryButton.selected {
	background-color: #8556FF;
	color: #FFFFFF;
	border-color: none;
	border: none;
	border-radius: 5px;
} */
.categoryButton.selected {
	background-color: #8556FF;
	color: #FFFFFF;
	border-color: none;
	border: none;
	border-radius: 5px;
}

.categoryButton {
	margin: 5px;
	width: 230px;
	height: 40px;
}

#dis {
	display: none;
}

#disMenu {
	display: none;
}

.menuWrapper {
	background-color: #FFFFFF;
	/* 	border-top: 1px solid #FFD8E4; */
	border-bottom: 1px solid #E1E1E1;
	height: 213px;
}

.menuTable button {
	width: 240px;
	height: 28px;
}

.menuTable {
	margin-top: 23px;
}

.alarm {
	color: #7C4AFF;
}

.menu {
	margin-left: 17px;
	color: #7C4AFF;
}

.admPageLinkButton button{
	padding-right: -50px;
	padding-top: 5px;
	height: 30px;
	width: 180px;
	background-color: white;
	border: 0.5px solid #9E9E9E;
	border-radius: 5px;
	background-color: #F8F8F8;
	display: flex;
	align-items: flex-start;
	justify-content: center;
} 

.radio-label{
	margin-right:10px;
}

/* 검색필터 달력 */
/* .input-group input {
	padding: 15px 15px !important;
	border: 1px solid lightgrey !important;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: #fff !important;
	color: #FF99B8 !important;
	font-size: 15px !important;
	letter-spacing: 1px;
	position: relative;
	font-weight: bold !important;
}

.input1 {
	text-align: left !important;
}

.input2 {
	text-align: right !important;
}

.input-group input:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #512DA8;
	outline-width: 0;
}

::placeholder {
	color: #BDBDBD;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #BDBDBD;
}

::-ms-input-placeholder {
	color: #BDBDBD;
}

.searchDatepicker button:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline-width: 0;
}

.datepicker {
	background-color: #fff;
	border-radius: 0 !important;
	padding: 15px 20px !important;
	align-content: center !important;
}

.datepicker-dropdown {
	top: 0;
		left: calc(50% - 161px) !important;
}

.datepicker-dropdown.datepicker-orient-left:before {
	left: calc(50% - 6px) !important;
}

.datepicker-dropdown.datepicker-orient-left:after {
	left: calc(50% - 5px) !important;
}

.datepicker table tr td.today, span.focused {
	border-radius: 50% !important;
	background-image: linear-gradient(#FFF3E0, #FFE0B2);
}

.datepicker table tr td.today.range {
	background-image: linear-gradient(#eeeeee, #eeeeee) !important;
	border-radius: 0 !important;
}
 */
/*Weekday title*/
/* thead tr:nth-child(3) th {
	font-weight: bold !important;
	padding-top: 10px;
	padding-bottom: 10px;
}

.old, .day, .new {
	width: 40px !important;
	height: 40px !important;
	border-radius: 0px !important;
	border: 1px solid lightgrey !important;
}

.day.old, .day.new {
	background-color: #F5F5F5 !important;
	color: #E0E0E0 !important;
}

.day.old:hover, .day.new:hover {
	border-radius: 0px !important;
}

.old-day:hover, .day:hover, .new-day:hover, .month:hover, .year:hover,
	.decade:hover, .century:hover {
	border-radius: 50% !important;
	background-color: #eee;
}

.active {
	border-radius: 50% !important;
	background-image: linear-gradient(#FF99B8, #FF99B8) !important;
	color: #fff !important;
}
 */
/* .range-start, .range-end {
	border-radius: 50% !important;
	background-image: linear-gradient(#FF99B8, #FF99B8) !important;
}
 */
/* .range {
	color: #FF99B8 !important;
} */

/* .prev, .next, .datepicker-switch {
	border-radius: 0 !important;
	padding: 10px 10px 10px 10px !important;
	font-size: 18px;
	opacity: 0.7;
	color: #FF99B8;
} */

/* .prev:hover, .next:hover, .datepicker-switch:hover {
	background-color: inherit !important;
	opacity: 1;
} */

/* @media screen and (max-width: 500px) {
	.datepicker-dropdown.datepicker-orient-right:before {
		right: calc(50% - 6px) !important;
	}
	.datepicker-dropdown.datepicker-orient-right:after {
		right: calc(50% - 5px) !important;
	} */
}