@font-face {
	font-family: 'Cafe24 Ohsquare';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf')
		format('truetype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 700;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf')
		format('truetype')
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 300;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf')
		format('truetype');
}
 

* {
	padding: 0;
	margin: 0;
	
}
#heart { 
	width:1280px;
	margin:0 auto; 
}
#heart *:not(.material-symbols-outlined){
	
	font-family: 'NanumBarunGothic', sans-serif;
}
#heart button:focus,button:active {
  outline: none;
  box-shadow: none;
}
 
/* 클래스 카드 */

#heart td{ 
	margin-bottom:100px;
}
.heart-content{
	display: flex;
    width: 100%;  
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;
}
#heart .heart-h2{
	font-size : 24px;
    color: rgb(104, 21, 182);
	margin-bottom: 30px; 
	margin-left:70px;
	margin-top : 30px;
	font-weight: bold;

}
#heart .h-link{
	width:100%;
	height:100%;
	text-decoration: none;
	color: black;
	display: block;
	position:relative;
}


.oclass {
	width: 260px; 
	/* background-color: antiquewhite; */
	border-radius: 5px;
	border: 1px solid rgb(207, 207, 207);
	
}

.h-btn{
	position:absolute; 
	border-style:none; 
	 background-color: transparent; 
	 z-index:10;
	right: 12px;
	top:10px;
}

#heart .icon-custom{ 
	font-size: 50px;
	color: #FF729D;
	font-weight: 200;
} 
	 
.material-symbols-outlined.fill{ 
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

table{
	margin : 0 auto;
}

td{
	margin-right:20px;
	margin-bottom:50px;
	display: inline-block;
}
td:nth-child(4n) {
	margin-right:0;
}
#heart .h-ssum-img {
	width: 100%; 
	height:260px;
    margin-bottom: 10px; 
} 
.txt-box {
	padding-right: 10px;
	padding-left: 10px; 
}

.tb1 {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	margin-bottom: 5px;
}

.t1 {
	margin-left: 6px;
}

.t1 span {
	margin-right: 3px;
	color: #7A7A7A;
	font-weight: bold;
}

.t2 {
	margin-right: 6px;
}

.t2 span {
	margin-right: 3px;
}

.heart {
	font-size: 12px;
	color: #FF729D;
}

.star {
	color: #FFD029;
}

.cls-name {
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid rgb(212, 212, 212);
	width: 95%;
	margin-bottom: 10px;
	padding-bottom: 10px;
	margin-left: 5px;
	margin-bottom: 10px;
}

.oclass p {
	margin-top: 7px;
}

.tb2 {
	display: flex;
	font-size: 18px;
	padding-bottom: 15px;
	margin-right: 10px;
	flex-direction: row;
	justify-content: flex-end;
}

.oriPrice {
	color: #B4B4B4;
	font-size: 15px;
	margin-right: 5px;
	margin-top: 3px;
}

.disc {
	color: #8556FF;
	font-weight: 600;
}

.fp {
	font-weight: 600;
}

.oclassIcon {
	font-size: 14px;
}

