* {
	padding: 0;
	margin: 0;
}
/* .mainWrapper{width:1280px; margin:0 auto;} */
.includeWrapper {
	position: relative;
	/* 	height:100%; */
	min-height: 100%;
	/* 	padding-bottom:125px; */
}

.includeContent {
	/* 	min-height:125px; */
	/* flex: 1; */
	padding:20px;
}

.includeFooter {

		 position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}