@charset "UTF-8";
 @font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 300;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf')
		format('truetype');
}
 
body {
	font-family: 'NanumBarunGothic', sans-serif;
/* withdraw modal */

 

.w-modal *{
	padding:0;
	margin:0;
}
#mypage{
		padding:0;
	margin:0;
}
.w-modal {
	width: 100%;
	height: 1200px;
	background-color: rgba(0, 0, 0, 0.6);
	margin: 0 auto;  
	position: fixed;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	z-index: 10;
	top: 0;
}
.w-modal.w-hide {
	opacity: 1;
	visibility: visible;
}
.w-wrap { 
	padding: 30px;
	width: 450px;
	height: 200px;
	background-color: rgb(255, 255, 255);
	position: fixed;
	margin: auto;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	border-radius: 7px;
}
 

 
.w-h2 {
	color: rgb(98, 22, 168);
	text-align: center;
	margin-top: -10px;
	margin-bottom: 20px;
}

.w-h3 {
	font-size: 17px;
	margin-bottom: 15px;
}

.w-p {
	font-size: 16px;
	margin-bottom: 23px;
}

.w-check-btn {
	margin-bottom: 30px;
}

.w-btn-box {
	display: flex;
	justify-content: space-between;
}

.w-span {
	text-decoration: underline;
	color: rgb(100, 100, 100);
}

.w-submit-btn {
	box-sizing: border-box;
	width: 220px;
	height: 35px;
	background: #7C4AFF;
	border-radius: 7px;
	color: #fff;
	font-weight: bold;
	border-style: none;
	font-size: 14px;
	cursor: pointer;
}

.w-cancel-btn {
	box-sizing: border-box;
	width: 220px;
	height: 35px;
	background: #ffffff;
	border-radius: 7px;
	color: #7C4AFF;
	font-weight: bold;
	border-style: none;
	border: #7C4AFF 1px solid;
	cursor: pointer;
}



.w-submit-btn:hover {
	background-color: #7141e9;
}

.w-cancel-btn:hover {
	background-color: #f3f3f3;
}

/* modal css */
.m-h2 {
	color: rgb(98, 22, 168); 
	margin-left: 13px;
	margin-top:13px;
}

.m-container {
	width: 450px;
	height: 600px;
	background-color: rgb(255, 255, 255);
	position: fixed;
	margin: auto;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	border-radius: 7px;
	padding: 15px;
}

.textbox {
	margin-top: 10%;
	width: 100%;
	margin-left: 15px;
}

.picture {
	border-radius: 50%;
	width: 139px;
	height: 139px;
	background-color: rgb(231, 231, 231);
	margin: 0 auto;
	margin-bottom: 20px;
}

.custom-file-input input[type="file"] {
	display: none;
}

.edit-btn {
	width: 160px;
	height: 35px;
	border-radius: 3px;
	border: solid 1px rgba(124, 124, 124, 0.5);
	text-align: center;
	margin-top: 2px;
	margin-bottom: -10px;
	font-size: 14px;
	color: rgba(129, 129, 129, 1);
	background-color: #f7f7f7;
	cursor: pointer;
}

.edit-btn:hover {
	background-color: rgba(223, 223, 223, 0.5);
}

.pf-box {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.ipbox {
	padding-left: 10px;
	box-sizing: border-box;
	width: 300px;
	height: 43px;
	border-radius: 7px;
	margin-bottom: 10px;
	border: solid 1px rgba(124, 124, 124, 0.5);
	/* j쿼리로 outline solid 1px 색 지정*/
}

.ptxt {
	color: rgb(53, 53, 53);
	margin-bottom: 5px;
}

.txt1 {
	font-size: 15px;
	font-weight: bold;
}

.txt2 {
	margin-top: 13px;
	height: 50px;
	font-size: 15px;
}

.tel-check {
	cursor: pointer;
	margin-left: 10px;
	background-color: #f5f5f5;
	border-style: none;
	width: 100px;
	height: 40px;
	border-radius: 3px;
	border: solid 1px rgba(124, 124, 124, 0.5);
}

.tel-check:hover {
	background-color: rgba(223, 223, 223, 0.5);
}

.cs-btn {
	display: flex;
	justify-content: space-evenly;
	margin-top: 6%;
}

.submit-btn {
	box-sizing: border-box;
	width: 200px;
	height: 43px;
	background: #7C4AFF;
	border-radius: 7px;
	color: #fff;
	font-weight: bold;
	border-style: none;
	font-size: 14px;
	cursor: pointer;
}

.cancel-btn {
	box-sizing: border-box;
	width: 200px;
	height: 43px;
	background: #ffffff;
	border-radius: 7px;
	color: #7C4AFF;
	font-weight: bold;
	border-style: none;
	border: #7C4AFF 1px solid;
	cursor: pointer;
}

.modal {
	position: fixed;
	width: 100%;
	height: 1200px;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	z-index: 10;
	top: 0;
}

.modal.hide {
	opacity: 1;
	visibility: visible;
}
/* mypage css */
#mypage { 
	width: 1280px;  
	
	margin: 100px auto;
	display:flex;
	align-items: center;
    justify-content: space-around;
}
 
#mypage .mypage-content{
	width:80%; 
	margin : 0 auto;
	display:flex;
	justify-content: center;
    align-items: center;
    display:flex;
    
	
}

#mypage .sec1{
	height:600px;
	display:flex;
    flex-direction: column;
    justify-content: space-evenly;
        padding-right: 20px;
	}
#mypage .sec2{
	height:600px;
	display:flex; 
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 20px;
}

#mypage .my-h2 {  
	color: rgb(104, 21, 182);
	
}

#mypage .mybox1 {
	width: 365px;
	height: 451px;
	left: 269px;
	top: 286px;
}

#mypage .mybox2 {
	width: 364.11px;
	height: 98.93px;
	left: 269.4px;
	top: 756.09px;
}

#mypage .mybox3 {
	width: 326.81px;
	height: 98.93px;
	left: 684.6px;
	top: 285.75px;
}

#mypage .mybox4 {
	width: 326.81px;
	height: 98.93px;
	left: 684.6px;
	top: 403.33px;
}

#mypage .mybox5 {
	width: 326.81px;
	height: 98.93px;
	left: 684.6px;
	top: 520.92px;
}

#mypage .mybox6 {
	width: 326.81px;
	height: 98.93px;
	left: 684.6px;
	top: 635.26px;
}

#mypage .mybox7 {
	width: 326.81px;
	height: 98.93px;
	left: 684.6px;
	top: 756.09px;
	cursor: pointer;
}
#mypage .square0 { 
	box-sizing: border-box;
	border: 1px solid transparent;
	margin: 0 auto;
	background-image: linear-gradient(#fff, #fff),
		linear-gradient(to right, rgba(76, 9, 255, 0.3),
		rgba(255, 105, 105, 0.3));
	border-radius: 8px;
	border-image-slice: 1;
	background-origin: border-box;
	background-clip: content-box, border-box;
	 
} 
#mypage .square { 
	box-sizing: border-box;
	border: 1px solid transparent;
	margin: 0 auto;
	background-image: linear-gradient(#fff, #fff),
		linear-gradient(to right, rgba(76, 9, 255, 0.3),
		rgba(255, 105, 105, 0.3));
	border-radius: 8px;
	border-image-slice: 1;
	background-origin: border-box;
	background-clip: content-box, border-box;
	display:flex;
	align-items: center; 
} 
#mypage a{
	text-decoration: none;
}
#mypage .mymenu-txt {
	margin-left: 20px; 
}

#mypage .mymenu1 {
	color: rgb(53, 53, 53);
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 10;
}

#mypage .mymenu2 {
	color: gray;
	font-size: 11px; 
}

#mypage .myprofile-pic {
	display: block; border-radius : 50%;
	width: 120px;
	height: 120px;
	margin: 50px auto 0 auto;
	border-radius: 50%;
}

#mypage .nbsp {
	width: 100%;
/* 	height: 10px; */
}

#mypage .tcen {
	text-align: center;
	margin-top:20px;
	margin-bottom:15px;
}

#mypage .border-bottom {
	width: 300px;
	margin: 0 auto;
	border-bottom: 1px solid rgb(207, 207, 207);
	margin-bottom: 15px;
	padding-bottom:10px;
	margin-top:10px;
}

#mypage .myprofile-btn {
	width: 300px;
	height: 39.74px;
	margin-top: 30px;
	margin-left: 30px;
	background: rgb(225 218 233 / 50%);
	border-radius: 8px;
	border-style: none;
	cursor: pointer;
}

#mypage .material-symbols-outlined { 
	padding-left: 30px; 
	font-size: 32px;
	color: rgba(66, 40, 77, 0.7);
}