@charset "UTF-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body{
	font-family:'NanumSquare';
}
 * {
            margin: 0;
            padding: 0;
        }

        button {
            cursor: pointer;
        }

        .pre-wrap {
            width: 1280px;
            height: 1000px;
            margin: 0 auto;
   
        }

        .preferbox {
            width: 778px;
            height: 550px;
            border-radius: 25px;
            border: 1.5px solid transparent;
            background-image: linear-gradient(#fff, #fff),
                linear-gradient(to right, rgba(76, 9, 255, 0.3), rgba(255, 105, 105, 0.3));
            background-origin: border-box;
            background-clip: content-box, border-box;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

        }
        tr{
        	width:100%;
        	margin:0 auto;
        }

        h2 {
            color: rgb(98, 22, 168);
            font-weight: bold;
            font-size: 20px;
        }
        
        h3 {
            color: rgb(63, 59, 63);
            font-weight: bold;
            font-size: 17px;
        }

        .mypick {
            margin-left: 41px;
        }

        .repick {
            margin: 0 auto;
        }

        .e-flex {
            margin-top: 20px;
        }
    
        .submit-btn {
            box-sizing: border-box;
            width: 200px;
            height: 43px;
            background: #7C4AFF;
            border-radius: 5px;
            color: #fff;
            font-weight: bold;
            margin: 0 auto;
            border-style: none;
            font-size: 14px;
        }

        /* 
        .submit-btn:hover {
            background-color: #704ad8;
            color: white;
            font-weight: bold;
            border: 1px #7C4AFF solid;
        } */
        
        
	
        .checked {
            width: 118px;
            height: 35px;
            border-radius: 5px;
            border: solid 1px #FFB2C9;
            background-color: #FFB2C9;
            text-align: center;
            margin-top: 2px;
            font-size: 14px;
            color: #fff;

        }
		
        .unchecked {
            width: 118px;
            height: 35px;
            border-radius: 5px;
            border: solid 1px rgba(214, 214, 214, 1);

            text-align: center;
            margin-top: 2px;
            font-size: 14px;
            color: rgba(129, 129, 129, 1);

            background-color: #fff;
        }

        .e-flex td+td {
            padding-left: 30px;
        }

        .e-flex td {
            padding-bottom: 10px;
        }
        
        
        
        
        
        
        
        /*이예림의 작업장*/
        
        input[type="checkbox"] {
        display: none;
    	}
 
	    input[type="checkbox"] + span {
	        display: inline-block;
	        width: 118px;
            height: 35px;
            border-radius: 5px;
            border: solid 1px rgba(214, 214, 214, 1);
            text-align: center;
            margin-top: 2px;
            font-size: 14px;
            
            background-color: #fff;
	    }
 
	    input[type="checkbox"]:checked + span {
	        background-color: #113a6b;
	        color: rgba(129, 129, 129, 1);
	        line-height: 35px;
	    }
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        